@namespace WWW.Components.UI
@implements IDisposable
@rendermode InteractiveServer

<div>
    <div>Project ID: @Id</div>
    
    <EditForm EditContext="EditContext" OnSubmit="@OnSubmit">
        <div>
            <InputText id="project-title" @bind-Value="@Project.Title"/>
        </div>

        <div>
            <button type="submit" @onclick="@OnSubmit">Submit</button>
        </div>
    </EditForm>

    <button @onclick="DeleteSelf" disabled="@IsBeingDeleted">Delete Project</button>

    <div>
        <h3>Goals</h3>
        <button @onclick="NewGoal">New Goal</button>

        <ol>
            @foreach (var goal in Project.Goals)
            {
                <li>
                    <GoalView Id="@goal.Id" @key="goal.Id" />
                </li>
            }
        </ol>
    </div>
</div>

@code
{
    public void NewGoal()
    {
        ViewService.NewGoal(Project);
    }
    
    public void OnSubmit()
    {
        ViewService.Db.SaveChanges();
        EditContext.MarkAsUnmodified();
        ViewService.RefreshView();
    }
    
    public void DeleteSelf()
    {
        if (IsBeingDeleted) return;
        IsBeingDeleted = true;
        
        ViewService.DeleteEntity(Project);
    }
}
