@namespace WWW.Components.UI
@using Backend.Entities
@rendermode InteractiveServer

<div style="padding-left: 1rem; padding-bottom: 2rem;">
    <div>Goal ID: @Id</div>

    <EditForm EditContext="@EditContext" OnSubmit="@OnSubmit">
        <div>
            <InputText id="goal-title" @bind-Value="@Goal.Title"/>
            <MudSelect @bind-Value="@Goal.Priority">
                <MudSelectItem Value="@GoalPriority.High">High</MudSelectItem>
                <MudSelectItem Value="@GoalPriority.Medium">Medium</MudSelectItem>
                <MudSelectItem Value="@GoalPriority.Low">Low</MudSelectItem>
            </MudSelect>
        </div>

        <div>
            <MudButton Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.Save"
                       type="submit" OnClick="@OnSubmit">
                Submit
            </MudButton>
        </div>
    </EditForm>

    <MudButton Variant="Variant.Filled" OnClick="DeleteSelf" Disabled="@IsBeingDeleted" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete">
        @if (IsBeingDeleted)
        {
            <MudProgressCircular Style="margin-right: 0.5rem;" Size="Size.Small" Indeterminate="true"/>
            <MudText>Deleting</MudText>
        }
        else
        {
            <MudText>Delete Goal</MudText>
        }
    </MudButton>
    
    <div>
        <h4>Questions</h4>

        <MudButton Variant="Variant.Filled" Color="Color.Warning" StartIcon="@Icons.Material.Filled.Create"
                   OnClick="NewQuestion">
            New Question
        </MudButton>
        
        <ol>
            @foreach (var question in Goal.Questions)
            { 
                <li>
                    <QuestionView Id="@question.Id" @key="question.Id" />
                </li>
            }
        </ol>
    </div>
</div>
