@namespace WWW.Components.UI
@implements IDisposable
@rendermode InteractiveServer

<div style="padding-left: 1rem; padding-bottom: 3rem;">
    <div>Project ID: @Id</div>
    
    <EditForm EditContext="EditContext" OnSubmit="@OnSubmit">
        <div>
            <InputText id="project-title" @bind-Value="@Project.Title"/>
        </div>

        <div>
            <MudButton Variant="Variant.Outlined" type="submit" OnClick="@OnSubmit">Submit</MudButton>
        </div>
    </EditForm>

    <MudButton Variant="Variant.Outlined" OnClick="DeleteSelf" disabled="@IsBeingDeleted">Delete Project</MudButton>

    <div>
        <h3>Goals</h3>
        <MudButton Variant="Variant.Outlined" OnClick="NewGoal">New Goal</MudButton>

        <ol>
            @foreach (var goal in Project.Goals)
            {
                <li>
                    <GoalView Id="@goal.Id" @key="goal.Id" />
                </li>
            }
        </ol>
    </div>
</div>

@code
{
    public void NewGoal()
    {
        ViewService.NewGoal(Project);
    }
    
    public void OnSubmit()
    {
        ViewService.Db.SaveChanges();
        EditContext.MarkAsUnmodified();
        ViewService.RefreshView();
    }
    
    public void DeleteSelf()
    {
        if (IsBeingDeleted) return;
        IsBeingDeleted = true;
        
        ViewService.DeleteEntity(Project);
    }
}
