@namespace WWW.Components.UI
@rendermode InteractiveServer

<div style="padding-left: 1rem; padding-bottom: 1rem;">
    <div>Question ID: @Id</div>
    <EditForm EditContext="EditContext" OnSubmit="@OnSubmit">
        <div>
            <InputText id="question-title" @bind-Value="@Question.Title"/>
        </div>
        
        <div>
            <MudButton Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.Save"
                       type="submit" OnClick="@OnSubmit">
                Submit
            </MudButton>
        </div>
    </EditForm>
    
    <MudButton Variant="Variant.Filled" OnClick="DeleteSelf" Disabled="@IsBeingDeleted" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete">
        @if (IsBeingDeleted)
        {
            <MudProgressCircular Style="margin-right: 0.5rem;" Size="Size.Small" Indeterminate="true"/>
            <MudText>Deleting</MudText>
        }
        else
        {
            <MudText>Delete Question</MudText>
        }
    </MudButton>
</div>