@namespace WWW.Components.UI
@rendermode InteractiveServer

<div style="padding-left: 1rem; padding-bottom: 1rem;">
    <div>Question ID: @Id</div>
    <EditForm EditContext="EditContext" OnSubmit="@OnSubmit">
        <div>
            <InputText id="question-title" @bind-Value="@Question.Title"/>
        </div>
        
        <div>
            <MudButton Variant="Variant.Outlined" type="submit" OnClick="@OnSubmit">Submit</MudButton>
        </div>
    </EditForm>
    
    <MudButton Variant="Variant.Outlined" OnClick="Delete" disabled="@IsBeingDeleted">Delete Question</MudButton>
</div>